* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  font-size: 14px; }

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #E5EFF1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  z-index: 10; }
  .loader .loader-content {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .loader .loader-content p {
      font-size: 16px;
      color: #666666; }
    .loader .loader-content img {
      width: 100px;
      height: 100px;
      margin: 40px auto 0 auto; }

.header-container {
  background: #666666;
  position: relative; }
  .header-container .header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease-in-out; }
  .header-container h1 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }

.content-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 880px;
  position: relative; }

h1 {
  color: #FFFFFF; }

.options {
  margin: 30px 10px 0 10px;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 20px;
  display: flex; }
  .options .filtering {
    text-align: center; }
    .options .filtering span {
      color: #444444;
      font-size: 10px;
      text-transform: uppercase; }
    .options .filtering .filter-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      max-width: 600px; }
      .options .filtering .filter-list .filter-item {
        margin-top: 10px;
        margin-right: 15px;
        padding: 6px 10px;
        border-radius: 5px;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer; }
        .options .filtering .filter-list .filter-item:hover {
          background: #495FEF;
          color: #FFFFFF; }
          .options .filtering .filter-list .filter-item:hover span {
            color: #3EC7EE; }
        .options .filtering .filter-list .filter-item span {
          font-size: 10px;
          font-weight: bold; }
      .options .filtering .filter-list .active {
        background: #495FEF;
        color: #FFFFFF; }
        .options .filtering .filter-list .active span {
          color: #3EC7EE; }
  .options .sorting {
    text-align: center;
    margin-left: auto; }
    .options .sorting span {
      color: #444444;
      font-size: 10px;
      text-transform: uppercase; }
    .options .sorting ul {
      list-style: none;
      display: flex; }
      .options .sorting ul li {
        cursor: pointer;
        padding: 6px 10px;
        border: 1px solid #E2E2E2;
        border-radius: 5px;
        margin-left: 15px;
        margin-top: 10px; }
      .options .sorting ul li:first-child {
        margin-left: 0; }
      .options .sorting ul li.active {
        background: #495FEF;
        border: none;
        color: #FFFFFF; }
  .options .favorite {
    margin-top: 10px;
    margin-left: auto; }
    .options .favorite .link {
      border: 1px solid #E2E2E2;
      border-radius: 5px;
      padding: 6px 10px; }
      .options .favorite .link:hover {
        background: #495FEF;
        border: none;
        color: #FFFFFF; }

.usersList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto 0 auto;
  justify-content: center; }
  .usersList .user {
    display: flex;
    flex-direction: column;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    max-width: 200px;
    margin: 10px;
    overflow: hidden;
    cursor: pointer; }
    .usersList .user .fav-button {
      display: inline-block;
      margin: 20px auto 20px;
      padding: 7px 12px;
      background-color: #495FEF;
      color: #FFFFFF;
      border-radius: 8px;
      font-weight: bold; }
      .usersList .user .fav-button:hover {
        background-color: indianred; }
    .usersList .user .user-info {
      padding: 20px 20px 0 20px;
      color: #716B6C; }
      .usersList .user .user-info p {
        line-height: 24px; }
      .usersList .user .user-info .name {
        font-size: 14px;
        text-transform: uppercase;
        color: #121212;
        font-weight: bold;
        height: 50px;
        max-height: 50px;
        max-width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center; }
    .usersList .user .image-holder {
      position: relative;
      height: 200px;
      width: 200px;
      display: flex;
      align-items: end; }
      .usersList .user .image-holder img {
        width: 100%; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(190, 46, 146, 0.5) 0%, rgba(147, 44, 203, 0.5) 100%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease-in-out; }
  .modal .modal-box {
    width: 600px;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 14px; }
    .modal .modal-box .modal-header {
      padding: 0 0 20px 0;
      border-bottom: 1px solid #E9E9E9;
      display: flex; }
      .modal .modal-box .modal-header h2 {
        font-size: 18px; }
      .modal .modal-box .modal-header .modal-close {
        margin-left: auto;
        cursor: pointer; }
        .modal .modal-box .modal-header .modal-close svg {
          width: 20px;
          height: 20px; }
    .modal .modal-box .modal-body {
      display: flex;
      padding: 20px 0; }
      .modal .modal-box .modal-body .modal-image {
        width: 200px;
        height: 200px; }
        .modal .modal-box .modal-body .modal-image img {
          width: 100%;
          height: 100%;
          border-radius: 8px; }
      .modal .modal-box .modal-body .modal-description {
        margin-left: 30px;
        color: #716B6C; }

.is-hidden {
  display: none; }

.favorites {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #495FEF;
  transition: all 0.3s ease-in-out; }
  .favorites .content-wrapper .heading {
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 40px; }
    .favorites .content-wrapper .heading h2 {
      color: #FFFFFF; }
    .favorites .content-wrapper .heading .sorting {
      color: #FFFFFF;
      margin-left: auto; }
      .favorites .content-wrapper .heading .sorting ul {
        list-style-type: none;
        display: flex; }
        .favorites .content-wrapper .heading .sorting ul li {
          cursor: pointer;
          padding: 6px 10px;
          border: 1px solid #E2E2E2;
          border-radius: 5px;
          margin-left: 15px; }
        .favorites .content-wrapper .heading .sorting ul li.active {
          background-color: #FFFFFF;
          color: #495FEF; }
  .favorites .fav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    width: 820px; }

.fav-item {
  position: relative;
  width: 260px;
  background-color: #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 20px 20px; }
  .fav-item:hover .delete-item {
    display: flex; }
  .fav-item .delete-item {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: indianred;
    color: #FFFFFF;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer; }
    .fav-item .delete-item:hover {
      background-color: darkred; }
  .fav-item .image-wrapper {
    width: 100px;
    height: 100px;
    background-color: #E5EFF1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px; }
    .fav-item .image-wrapper img {
      width: 100px;
      height: 100px; }
  .fav-item .fav-description {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center; }
    .fav-item .fav-description .fav-name {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      white-space: normal; }
    .fav-item .fav-description .fav-plan {
      font-size: 14px;
      padding-top: 5px;
      text-align: left; }

.fav-item:first-child,
.fav-item:nth-child(3n + 1) {
  margin-left: 0; }

@media (min-width: 0) and (max-width: 1023px) {
  .options {
    flex-direction: column; }
    .options .filtering {
      width: 100%; }
      .options .filtering .filter-list {
        justify-content: center;
        max-width: 100%; }
    .options .sorting {
      margin-top: 40px;
      width: 100%; }
      .options .sorting ul {
        justify-content: center; } }
@media (min-width: 0) and (max-width: 719px) {
  .usersList {
    width: 80%; }
    .usersList .user {
      max-width: unset;
      width: 100%; }
      .usersList .user .image-holder {
        width: 100%;
        justify-content: center; }
        .usersList .user .image-holder img {
          width: 200px;
          height: 200px; }

  .modal .modal-box {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border: none;
    border-radius: 0; }
    .modal .modal-box .modal-header {
      justify-content: center; }
      .modal .modal-box .modal-header .modal-close {
        background-color: darkred;
        color: #FFFFFF;
        padding: 15px;
        border-radius: 50%;
        position: absolute;
        right: 50px;
        bottom: 70px; }
    .modal .modal-box .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .modal .modal-box .modal-body .modal-image {
        width: 100%;
        display: flex;
        justify-content: center; }
        .modal .modal-box .modal-body .modal-image img {
          width: 200px; }
      .modal .modal-box .modal-body .modal-description {
        margin-top: 30px; } }

/*# sourceMappingURL=styles.css.map */
